<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Dump <%= dump.name %></title>
</head>
<body>
  <h1><%= dump.name %></h1>
  This crash dump was uploaded to <a href="<%= dump.url %>">dmpster</a>.
</body>
</html>